:root {
  --color-sidebar-background: rgba(156, 165, 236, 0.04);
  --color-main-background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );

  --color-background: #2B2C3A;
  --color-purple-gradient: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  --color-darkpurple-gradient: linear-gradient(90deg, #6563eb 0%, #5e5edb 100%);
  --color-purple-solid: #6868ff;
  //for checkbox
  --color-purple: #6f6eff;
  --color-orange: #ff4738;
  --color-green: #24cb8d;
  --color-white: #ffffff;
  --color-badge-background: rgba(255, 255, 255, 0.06);
  --color-catalog-background: rgba(255, 255, 255, 0.04);

  --color-white-op-015: rgba(255, 255, 255, 0.15);
  --color-lines: rgba(216, 216, 216, 0.1);
  --color-text: #ffffff;
  --color-sidebar-active: linear-gradient(135deg, #ffffff 0%, #ffffff 93.97%);
}
