.purple-button {
  border-radius: 4px;
  background: var(--color-purple-gradient);
  padding: 10px 19px 10px 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;

  &__mini {
    padding: 4px 5px 4px 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }
}
