.catalog__item {
  border-radius: 6px;
  width: auto;
  height: 294px;
  background: var(--color-catalog-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  &-header {
    height: 144px;
    background-image: url('../../../../assets/images/dist/catalog1.jpg');
    
    background-position: center;
  }

  &-type {
    background: var(--color-purple-gradient);
    border-radius: 3px;
    display: inline-flex;
    padding: 4px 5px 4px 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin-top: 19px;
    margin-left: 21px;
  }

  &-name {
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &-descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
    margin-top: 10px;

    padding-left: 15px;
    padding-right: 15px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-lines);
    margin-top: 15px;
    padding: 16px 15px 15px 15px;

    &-data {
      font-weight: normal;
      font-size: 13px;
      line-height: 10px;
    }

    &-button {
      padding: 10px 18px 10px 19px;
      font-weight: normal;
      font-size: 13px;
      line-height: 10px;
    }
  }
}
