.content__header {
  height: 71px;
  width: calc(100% - 260px);
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--color-lines);
  display: flex;
  padding-top: 24px;
  padding-bottom: 23px;
  z-index: 2;

  align-items: center;
  justify-content: space-between;

  &-right {
    display: flex;
  }

  &-nav {
    margin-left: 55px;
    padding-right: 28px;
    border-right: 1px solid var(--color-lines);

    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      & a {
        opacity: 0.6;
        transition: opacity 0.1s linear;
        &:hover {
          opacity: 1;
          transition: opacity 0.1s linear;
        }
      }
    }
  }
}

.content__badges {
  display: flex;
  gap: 10px;
  align-items: center;
}

.content__badge {
  display: flex;
  border-radius: 5px;
  background-color: var(--color-badge-background);
  align-items: center;
  justify-content: center;
  padding: 7px 7px 7px 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 10px;
  & p {
    opacity: 0.6;
  }
}

.content__badge-hours {
  padding: 3px 9px 3px 3px;
}
.content__badge-time-text {
  margin-right: 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 10px;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  opacity: 1 !important;
}
.content__lighting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
.content__lighting-icon {
  fill: var(--color-white);
  height: 12px;
  width: 7px;
}

.profile__block {
  display: flex;
  margin-left: 10px;
  &-info {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  &-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
  }

  &-status {
    color: var(--color-green);
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    position: relative;
    margin-left: 10px;
    &::after {
      position: absolute;
      top: 3px;
      left: -8px;
      content: '';
      background-color: var(--color-green);
      height: 6px;
      width: 6px;
      border-radius: 100px;
    }
  }

  &-rank {
    background: var(--color-purple-gradient);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    padding: 2px 11px 2px 8px;
    text-transform: uppercase;
    margin-left: 15px;
    height: 14px;
    margin-top: 8px;
    margin-right: 45px;
  }
}

.profile__avatar {
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.1));
  height: 44px;
  width: 44px;
}
